<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comparisons from 'Portal da Queixa' - PORTUGAL </title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Stick+No+Bills:wght@200;500&display=swap');
          </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
<body style="background-color: #D8DEE9;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <center> <h1 class="p-3 mb-2 bg-primary text-white" style="font-family: 'Changa One', cursive;">COMPARISONS FROM 'PORTAL DA QUEIXA' - PORTUGAL
        <br>
        <a href="/"><button type="button" class="btn btn-primary btn-lg">Home</button></a>
        <a href="/company_info"><button type="button" class="btn btn-primary btn-lg">Comparisons</button></a>
        <a href="/categories"><button type="button" class="btn btn-primary btn-lg">Categories</button></a>
        <a href="/contacts"><button type="button" class="btn btn-primary btn-lg">Contacts</button></a>
        </br>
    </h1></center>
    
    <center> 

        <div style="display: flex; justify-content: center; align-items: center; height: 60px; width: 970px; font-size: 14px;">
        
            <span class="border border-primary">Comparing companies before making a purchase is crucial, especially regarding their customer service and complaint handling. It impacts a customer's experience and a company's overall reputation. Comparing helps you understand policies, get feedback, and make an informed decision.</span>
          </div>

    <h3 style="font-family: 'Changa One', cursive;">Compare the companies you want to hire!</h3>
    <br>

    <h3 style="text-align: center; font-size: medium;"></h3>
    <a href="/company_info"><button type="button" class="btn btn-primary btn-lg">Let's compare!</button></a>
    
    <br>
    <style>
        img {
            margin: 40px;
        }
    </style>
    <img src="https://cdn-icons-png.flaticon.com/512/3670/3670220.png" alt="Negative" width="100"></img>
    <img src="https://cdn-icons-png.flaticon.com/512/2735/2735896.png" alt="My Picture" width="250"></img>
    <img src="https://cdn-icons-png.flaticon.com/512/1182/1182670.png" alt="Positive" width="100"></img>
    
    <br>
    <a href="/categories" style="color:black;"">
    <h3 style="font-family: 'Changa One', cursive;">Categories</h3>
</a>
    <li style="display: flex; justify-content: center; align-items: center; height: 20px; width: 1400px; font-size: 12px;"> - <u>Water, Electricity and Gas</u> - <u>Animals</u> - <u>Automobiles, Motorcycles and Bikes</u> - <u>Banks, Finance and Payments</u> - <u>Beauty, Esthetics and Well-Being</u> - <u>Home, Alarms and Cleaning</u> - </li>

    <li style="display: flex; justify-content: center; align-items: center; height: 20px; width: 1400px; font-size: 12px;">- <u>Casinos and Betting shops</u> - <u>Shopping, Fashion and Jewelry</u> - <u>Comunication, TV and Media</u> - <u>Construction, Industry and Manufacture</u> - <u>Mail, Transportation and Logistics</u> - <u>Culture, Leasure and Fun</u> - </li>
    
    <li style="display: flex; justify-content: center; align-items: center; height: 20px; width: 1400px; font-size: 12px;"> - <u>Sports, Gyms and Clubs</u> - <u>Education, Formation and Jobs</u> - <u>Companies, Services and Associations</u> - <u>Office, Marketing and Publicity</u> - <u>Gastronomy, Food and Drink</u> - <u>Hiper and Supermarkets</u> - </li>
        
    <li style="display: flex; justify-content: center; align-items: center; height: 20px; width: 1400px; font-size: 12px;"> - <u>Hotels, Trips and Tourism</u> - <u>Computers, Technology and Sound</u> - <u>Internet, Websites and Business</u> - <u>Furniture, Decoration and Home Appliances</u> - <u>Health</u> - </li> 
    
    <li style="display: flex; justify-content: center; align-items: center; height: 20px; width: 1400px; font-size: 12px;"> -<u>Life and auto Insurances, Health Care</u>  - <u>Services and Public Administration</u> - <u>Public Transportation, Rent and Driving</u> </li>
    
    </center>
</body>
</html>